<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="{{name}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputStreet">Street</label>
    <div class="controls">
      <input type="text" id="inputStreet" placeholder="{{street}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCity">City</label>
    <div class="controls">
      <input type="text" id="inputCity" placeholder="{{city}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCity">ZipCode</label>
    <div class="controls">
      <input type="text" id="inputZipCode" placeholder="{{zipcode}}">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="text" class="btn">{{submitText}}</button>
    </div>
  </div>
</form>